.quali-text{
    font-size: 20px;
    top:10px;
}
.qualifications-container{
    position: absolute;
    display: flex;
    justify-self:flex-start;
    align-items:center;
    height:80%;
    width:90%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top:15px;
    user-select: none;
}
.qualifications-container .qualification{
    position: relative;
    height: 550px;
    min-width: 40%;
    background: rgb(9,6,31);
    border-radius:20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
.qualifications-container .qualification .content{
    height:85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
}
.qualifications-container .qualification h1{
    font-size: 20px;
    text-transform: uppercase;
    margin-top:20px;
}
.qualifications-container .qualification .content.html{
    background:url("../props/descargar.jpg");
    background-position: center;
    background-size: 450px;
}
.qualifications-container .qualification .content.css{
    background:url("../props/css.jpg");
    background-position: center;
    background-size: 450px;
}
.qualifications-container .qualification .content.js{
    background:url("../props/js.jpg");
    background-position: center;
    background-size: 400px;
}
.qualifications-container .qualification .content.java{
    background:url("../props/java.jpg");
    background-position: center;
    background-size: 450px;
}
.qualifications-container .qualification .content.react{
    background:url("../props/react.jpg");
    background-position: center;
    background-size: 450px;
}
.qualifications-container .qualification .content.cmas{
    background:url("../props/c++.jpg");
    background-position: center;
    background-size: 450px;
}
.qualifications-container .qualification .content.python{
    background:url("../props/python.jpg");
    background-position: center;
    background-size: 400px;
}
.qualifications-container .qualification .content.mongoDB{
    background:url("../props/descargarMongo.jpg");
    background-position: center;
    background-size: 450px;
}

